*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header{
    color: rgb(247, 179, 32);
}
h1{
    color: rgb(0, 0, 0);
    text-align: center;
    position: relative;
    width: 80%;
    margin: 50px auto;
    font-weight:bold 
}

body{
    background-color: rgb(255, 255, 255);   
}

#grid-container {
    margin-left: 60px;
    align-items: flex-start;
    padding-top: 30px;
    padding-bottom: 30px;
}

.grid-item{
    width: 350px;
    height: 200px;
    margin: 0px;
    object-fit: cover;
    cursor:pointer;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.col:hover{
    transform: scale(1.2);
    cursor:pointer;
}

.pencil{
  background-color:none;
  border-radius: 30%;

  margin-top: 20px;
  margin-left: 900px;
}


